@font-face {
    font-family: Miracode;
    src: url(../fonts/miracode/Miracode.ttf);
}

body {
    font-family: "Miracode", cursive;
    background-color: rgb(150, 61, 90);
    margin: 0;
    padding: 0;
}

.header {
    color: rgb(225, 137, 175);
    margin:1% 6%;
    display: flex;
    flex-grow: 1;
}

#homepage{
    padding: 9px;
    border-radius: 9px;
    background-color: rgb(227, 218, 255);
}

.dias {
    max-width: 60%;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.dias li {
    list-style: none;
    background-color: rgb(196, 188, 220);
    padding: 6px 5px 3px 5px;
    border-radius: 3px;
}

.dias li a {
    text-decoration: none;
    font-weight: bold;
}

.caixinha-das-listas {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    margin: 30px;
    gap: 21px;
}

.lista {
    max-width: 400px;
    min-width: 200px;
    height: fit-content;
    border: black solid;
    padding: 1%;
    background-color: rgb(196, 188, 220);
}
.lista li {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

.data {
    text-decoration: underline;
    text-align: right;
    font-weight: bold;
}

footer {
    text-align: end;
    background-color: rgb(225, 137, 175);
    font-family: cursive;
    padding: 0 30px 6px 0;
}